body {
  background-color: #d6d6d6;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  text-align: center;
  width: 100%;
  max-width: 500px;
}

form h2 {
  font-weight: bold;
  margin-bottom: 30px;
}

.dangnhap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.tk,
.mk {
  padding: 15px 20px;
  border-radius: 30px;
  font-size: 16px;
  outline: none;
  border: 1.5px solid #1a1aff;
}

.mk {
  border: none;
  background-color: white;
}

.btn {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
